.cover {
    height: 100vh;
    width: 100vw;
    background-color: transparent;

    section {
        &:first-child {
            top: 0;
            @include flex(column, center, center);
        }

        height: 100%;
        @include flex(column, center, center);
    }

    &__image {
        width: 80%;
        max-width: 42rem;
        height: auto;
    }

    &__status {
        width: 100%;

        &--title {
            @include heading-primary;
        }

        &--buy {
            @include heading-secondary;
        }

        &--cta {
            @include heading-tertiary;
        }
    }
}