.container {
  min-height: 100%;
  position: relative;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
    background-color: var(--milk);
}

// .header {

//   padding: 1.25rem 1.6rem;
//   /* scroll-snap-align: start; */
//   text-align: center;
//   
// }

.backToHome {
  text-align: right;
  position: sticky;
  right: 0;
  bottom: 0;
  margin: 0 2rem 0 0;
}