@import url(https://fonts.bunny.net/css?family=roboto:400,500,700);

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: 'Roboto Mono', sans-serif;


  --ink-black: hsl(338, 12%, 13%);
  --milk: hsl(0, 0%, 100%);
  --fugative-flamingo: hsl(327, 71%, 65%);
  --velvet-cherry: hwb(356 2% 12%);
  --turquoise-surf: hsl(176, 100%, 38%);
  --glorious-sunset: hsl(20, 100%, 55%);
  --marigold: hsl(45, 100%, 50%);
  --sapphire-splendour: hsl(227, 73%, 42%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-mono);
  color: var(--milk);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  /* background: var(--background-end-rgb); */
}

a {
  color: var(--fugative-flamingo);
  text-decoration: none;
}

ul {
  list-style: none;
}

img.logo {
  width: 260px;
  /* height: auto; */
  border: 0;
}

.header {
  vertical-align: middle;
  margin: 1rem;
}

.contact,
.menu {
  display: none;
}

img.cover {
  width: 80vw;
  max-width: 420px;
  height: auto;
}
p{
  color: var(--ink-black);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5rem;
}
h2 {
  /* font-size: 18px; */
  font-weight: 700;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}
h3 {
  /* font-size: 18px; */
  font-weight: 700;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

h3 a {
  text-transform: uppercase;
}

h5{  font-size: 18px;
  font-weight: 700;
  line-height: 1.5rem;}
.avail {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  padding-top: 3px;
  line-height: 22px;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 10rem;
  transition: background-color 400ms ease-in-out;
}

footer{background-color: var(--velvet-cherry);}
.footer .description {
  margin: 0;
  /* position: relative;
  left: auto;
  bottom: auto;
  width: auto; */
  width: 100%;
  height: 100%; 
  padding: 1rem 1rem .5rem 1rem;
}

.footer  h5 {
  text-align: center;
  margin-bottom: 50px;

}

.copyright h4 {
  font-size: 12px;
  font-weight: 400;
  
  margin-bottom: 50px;
}
footer a{
  text-decoration: underline;
  /* width: 100%; */
}

/* footer * {
  width: 100%;
  margin-bottom: .5rem;
} */

.link2{
  text-decoration: none;
}

.link2:hover{
  text-decoration: underline;
}