$break-point-large: 56.25em; //900px


:root {
    --ink-black: hsl(338, 12%, 13%);
    --earl-grey: hsl(0, 0%, 20%);
    --milk: hsl(0, 0%, 100%);
    --fugative-flamingo: hsl(327, 71%, 65%);
    --velvet-cherry: hsl(356, 96%, 45%);
    --turquoise-surf: hsl(176, 100%, 38%);
    --glorious-sunset: hsl(20, 100%, 55%);
    --marigold: hsl(45, 100%, 50%);
    --sapphire-splendour: hsl(227, 73%, 42%);
}