body {
  -webkit-font-smoothing: antialiased;
  -webkit-transition: background-color 500ms ease-out 200ms;
  -moz-transition: background-color 500ms ease-out 200ms;
  -o-transition: background-color 500ms ease-out 200ms;
  transition: background-color 500ms ease-out 200ms;
}

html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  transform: translate3d(0px, 0px, 0px);
  transition: opacity 1200ms ease-in, transform 1200ms ease-in,
    visibility 1200ms ease-in, background-color 5000ms ease-out;
}

/* TO-DO => transition page color, not section color*/

.fade-in-section {
  // opacity: 0;
  // transform: translateY(0vh);
  // visibility: hidden;
  // transition: opacity 1200ms ease-in, transform 1200ms ease-in,
  //   visibility 1200ms ease-in;
  // will-change: opacity, transform, visibility;
  // z-index: -1;
  /* height: 100vh;
    width: 100vw; */

  /* position: absolute; top: 0; , background-colorbackground-color visibility 1200ms ease-in-out
    */
}

.fade-in-section.is-visible {
  // opacity: 1;
  // transform: none;
  // visibility: visible;
  // z-index: -1;
}


section {
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  transition: all 3s ease-in 1s;
  // transition: background-color 2s ease-out;
  // will-change: background-color;
  scroll-snap-align: start;
}

.footer {
  scroll-snap-align: end;
}


@media only screen and (min-width: $break-point-large) {
  html {
    scroll-snap-type: none;
    scroll-snap-align: none
  }
}