html {
    /* set 1.6rem === 10px */
    font-size: 62.5%;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    backface-visibility: hidden;
}


ul {
    list-style: none;
    padding-inline-start: 0rem;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100%;
    position: relative;
  
      background-color: var(--milk);
  }
  
  
  
  .backToHome {
    text-align: right;
    position: sticky;
    right: 0;
    bottom: 0;
    margin: 0 2rem 0 0;
  }