@import url(https://fonts.bunny.net/css?family=roboto:400,500,700);

/* Variables */
$border-radius: 1.2rem;
$font-mono: 'Roboto Mono', sans-serif;

$ink-black: hsl(338, 12%, 13%);
$milk: hsl(0, 0%, 100%);
$fugative-flamingo: hsl(327, 71%, 65%);
$velvet-cherry: hsl(356, 96%, 45%);
$turquoise-surf: hsl(176, 100%, 38%);
$glorious-sunset: hsl(20, 100%, 55%);
$marigold: hsl(45, 100%, 50%);
$sapphire-splendour: hsl(227, 73%, 42%);

/* Base */
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  /* This defines what 1rem is  */
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
}

html {
  // scroll-snap-type: mandatory;
  // scroll-snap-points-y: repeat(100vh);
  // scroll-snap-type: y mandatory;
  // transform: translate3d(0px, 0px, 0px);
  /* transition: background-color 1000ms ease-out; */
}

/* TO-DO => transition page color, not section color*/
body {
  background-color: transparent;
  font-family: $font-mono;
  color: $ink-black;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}


/* TO-DO => snap for mobile, fluid for desktop bc of UX */
.fade-in-section {
  opacity: 0;
  transform: translateY(0vh);
  visibility: hidden;
  transition: opacity 1200ms ease-in, transform 1200ms ease-in,
    visibility 1200ms ease-in;
  will-change: opacity, transform, visibility;
  z-index: -1;
  /* height: 100vh;
  width: 100vw; */

  /* position: absolute; top: 0; , background-colorbackground-color visibility 1200ms ease-in-out
  */
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  z-index: -1;
}

section {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 5rem 0;
  // scroll-snap-align: start;
  /* transition: background-color 1600ms ease-out;
  will-change: background-color; */
  /* position: relative; */
  /*  */
}

.background {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0;
  
}

.section1 {
  // background-color: $velvet-cherry;
}

.section6 {
  // height: calc(100vh - 7.7rem + 1.6rem);
  // padding: 2rem 0;
  // scroll-snap-align: end;
}

.section1 {
  // height: calc(100vh - 77px);
  /* scroll-snap-align: top; */
}

section a {
  /* color: $milk; */
  text-decoration: none;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

.contact,
.menu,
.desktop {
  display: none;
}

img.cover {
  width: 80vw;
  max-width: 420px;
  height: auto;
}

p {
  color: $ink-black;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5rem;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5rem;
}

h3 {
  font-weight: 600;
  line-height: 1.5rem;
  margin: 0;
}

h3 a {
  text-transform: uppercase;
}

.avail {
  font-size: 1rem;
  margin: 0 1rem 1rem 1rem;
  padding: 3px 1rem 0 1rem;
  line-height: 22px;
}






.contact a {
  text-decoration: none;
  color: $ink-black;
}

.contact a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {

  .contact,
  .menu,
  .desktop {
    display: contents;
  }

  .mobile {
    display: none;
  }

  section {
    /* height: 100%; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  /* img.cover{
    width: 420px;
  } */


  h4.copyright {
    flex-direction: column;
  }

}